[Unit]
Description=logstash container
After=docker.service
Requires=docker.service

[Service]
# Avoid timing out due to pulling container, etc with TimeoutStartSec=0
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill 
ExecStartPre=-/usr/bin/docker rm logstash
ExecStartPre=/usr/bin/docker pull pblittle/docker-logstash:latest
ExecStart=/usr/bin/docker run --name=logstash -v /root -p 9292:9292 -p 9200:9200 -e LOGSTASH_CONFIG_URL=https://raw.githubusercontent.com/ropensci/fishbaseapi/master/logstash.conf pblittle/docker-logstash:latest
ExecStop=/usr/bin/docker stop logstash 

