{
    "swagger": "2.0",
    "info": {
        "title": "Fishbase API",
        "description": "Working with Fishbase via a RESTful API",
        "version": "0.1.0",
        "license": {
            "name": "CC-BY 4.0",
            "url": "http://creativecommons.org/licenses/by/4.0/"
        },
        "contact": {
            "name": "rOpenSci",
            "url": "https://github.com/ropensci/fishbaseapi",
            "email": "info@ropensci.org"
        }
    },
    "host": "fishbaseapi.info",
    "schemes": [
        "http"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Get list of routes",
                "description": "Get list of routes - and servers as way to tell if API is up or not.\n",
                "tags": [
                    "meta"
                ],
                "responses": {
                    "302": {
                        "description": "Redirects to /heartbeat",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/302"
                            }
                        }
                    }
                }
            }
        },
        "/heartbeat": {
            "get": {
                "summary": "Get list of routes",
                "description": "Get list of routes - and servers as way to tell if API is up or not.\n",
                "tags": [
                    "meta"
                ],
                "responses": {
                    "200": {
                        "description": "List species found and their metadata",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/200"
                            }
                        }
                    },
                    "500": {
                        "description": "(Internal server error) - Server got itself in trouble; get in touch.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/500"
                            }
                        }
                    }
                }
            }
        },
        "/docs": {
            "get": {
                "summary": "Redirect to documentation",
                "description": "Get this page documentation\n",
                "tags": [
                    "docs"
                ],
                "responses": {
                    "200": {
                        "description": "Get docs",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/200"
                            }
                        }
                    }
                }
            }
        },
        "/species": {
            "get": {
                "summary": "species table",
                "description": "The species endpoint returns information on species.\n",
                "parameters": [
                    {
                        "name": "genus",
                        "in": "query",
                        "description": "Genus name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "species",
                        "in": "query",
                        "description": "Species (epithet) name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "number of records to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Record `number` to start at.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Comma-separated `string` of fieds to return.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "taxonomy"
                ],
                "responses": {
                    "200": {
                        "description": "List species found and their metadata",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Species"
                            }
                        }
                    },
                    "400": {
                        "description": "(Bad request) - Malformed request",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/400"
                            }
                        }
                    },
                    "404": {
                        "description": "(Not found) - Route does not exist",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/404"
                            }
                        }
                    },
                    "500": {
                        "description": "(Internal server error) - Server got itself in trouble; get in touch with us",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/500"
                            }
                        }
                    }
                }
            }
        },
        "/species/{id}": {
            "get": {
                "summary": "species table, get single species by id",
                "description": "The species endpoint returns information on species.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "a species id",
                        "required": true,
                        "type": "integer",
                        "default": 2
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Comma-separated `string` of fieds to return.",
                        "required": false,
                        "type": "string",
                        "default": "Genus"
                    }
                ],
                "tags": [
                    "taxonomy"
                ],
                "responses": {
                    "200": {
                        "description": "List species found and their metadata",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Species"
                            }
                        }
                    },
                    "400": {
                        "description": "(Bad request) - Malformed request",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/400"
                            }
                        }
                    },
                    "404": {
                        "description": "(Not found) - Route does not exist",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/404"
                            }
                        }
                    },
                    "500": {
                        "description": "(Internal server error) - Server got itself in trouble; get in touch with us",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/500"
                            }
                        }
                    }
                }
            }
        },
        "/genera": {
            "get": {
                "summary": "genus table",
                "description": "The genus endpoint returns information on genera",
                "parameters": [
                    {
                        "name": "genus",
                        "in": "query",
                        "description": "Genus name",
                        "required": false,
                        "type": "string",
                        "default": "Abalistes"
                    },
                    {
                        "name": "species",
                        "in": "query",
                        "description": "Species (epithet) name",
                        "required": false,
                        "type": "string",
                        "default": "filamentosus"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "number of records to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 10
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Record `number` to start at.",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "default": 0
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Comma-separated `string` of fieds to return.",
                        "required": false,
                        "type": "string",
                        "default": "SpeciesCount"
                    }
                ],
                "tags": [
                    "taxonomy"
                ],
                "responses": {
                    "200": {
                        "description": "List species found and their metadata",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Species"
                            }
                        }
                    },
                    "400": {
                        "description": "(Bad request) - Malformed request",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/400"
                            }
                        }
                    },
                    "404": {
                        "description": "(Not found) - Route does not exist",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/404"
                            }
                        }
                    },
                    "500": {
                        "description": "(Internal server error) - Server got itself in trouble; get in touch with us",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/500"
                            }
                        }
                    }
                }
            }
        },
        "/genera/{id}": {
            "get": {
                "summary": "genus table, get single genus by id",
                "description": "The genera endpoint returns information on genera.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "a genus id",
                        "required": true,
                        "type": "integer",
                        "default": 2
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Comma-separated `string` of fieds to return.",
                        "required": false,
                        "type": "string",
                        "default": "Genus"
                    }
                ],
                "tags": [
                    "taxonomy"
                ],
                "responses": {
                    "200": {
                        "description": "List a genus and its metadata",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/200"
                            }
                        }
                    },
                    "400": {
                        "description": "(Bad request) - Malformed request",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/400"
                            }
                        }
                    },
                    "404": {
                        "description": "(Not found) - Route does not exist",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/404"
                            }
                        }
                    },
                    "500": {
                        "description": "(Internal server error) - Server got itself in trouble; get in touch with us",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/500"
                            }
                        }
                    }
                }
            }
        },
        "/faoarref": {
            "get": {
                "summary": "fao reference",
                "description": "The fao reference endpoint.\n",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "number of records to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Record `number` to start at.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Comma-separated `string` of fieds to return.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "fao"
                ],
                "responses": {
                    "200": {
                        "description": "List species found and their metadata",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Species"
                            }
                        }
                    },
                    "400": {
                        "description": "(Bad request) - Malformed request",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/400"
                            }
                        }
                    },
                    "404": {
                        "description": "(Not found) - Route does not exist",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/404"
                            }
                        }
                    },
                    "500": {
                        "description": "(Internal server error) - Server got itself in trouble; get in touch with us",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/500"
                            }
                        }
                    }
                }
            }
        },
        "/faoareas": {
            "get": {
                "summary": "fao areas",
                "description": "The fao areas endpoint.\n",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "number of records to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Record `number` to start at.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Comma-separated `string` of fieds to return.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "tags": [
                    "fao"
                ],
                "responses": {
                    "200": {
                        "description": "List species found and their metadata",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Species"
                            }
                        }
                    },
                    "400": {
                        "description": "(Bad request) - Malformed request",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/400"
                            }
                        }
                    },
                    "404": {
                        "description": "(Not found) - Route does not exist",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/404"
                            }
                        }
                    },
                    "500": {
                        "description": "(Internal server error) - Server got itself in trouble; get in touch with us",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/500"
                            }
                        }
                    }
                }
            }
        },
        "/comnames": {
            "get": {
                "summary": "Common names table",
                "description": "The common names endpoint.\n",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "number of records to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Record `number` to start at.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Comma-separated `string` of fieds to return.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List species found and their metadata",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Species"
                            }
                        }
                    },
                    "400": {
                        "description": "(Bad request) - Malformed request",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/400"
                            }
                        }
                    },
                    "404": {
                        "description": "(Not found) - Route does not exist",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/404"
                            }
                        }
                    },
                    "500": {
                        "description": "(Internal server error) - Server got itself in trouble; get in touch with us",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/500"
                            }
                        }
                    }
                }
            }
        },
        "/countref": {
            "get": {
                "summary": "Count reference table",
                "description": "The count reference endpoint.\n",
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "number of records to return",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Record `number` to start at.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "Comma-separated `string` of fieds to return.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List species found and their metadata",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Species"
                            }
                        }
                    },
                    "400": {
                        "description": "(Bad request) - Malformed request",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/400"
                            }
                        }
                    },
                    "404": {
                        "description": "(Not found) - Route does not exist",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/404"
                            }
                        }
                    },
                    "500": {
                        "description": "(Internal server error) - Server got itself in trouble; get in touch with us",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/500"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "200": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "fields": {
                    "error": "string"
                }
            }
        },
        "302": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "fields": {
                    "error": "string"
                }
            }
        },
        "400": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "fields": {
                    "error": "string"
                }
            }
        },
        "404": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "fields": {
                    "error": "string"
                }
            }
        },
        "500": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "fields": {
                    "error": "string"
                }
            }
        },
        "Species": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "fields": {
                    "SpecCode": {
                        "type": "integer",
                        "description": "species code"
                    },
                    "Genus": {
                        "type": "string",
                        "description": "genus name"
                    },
                    "Species": {
                        "type": "string",
                        "description": "species name"
                    },
                    "SpeciesRefNo": {
                        "type": "integer",
                        "description": "species reference number"
                    },
                    "Author": {
                        "type": "string",
                        "description": "species name authority (e.g., (Linnaeus, 1758))"
                    },
                    "FBname": {
                        "type": "string",
                        "description": "fbname"
                    },
                    "PicPreferredName": {
                        "type": "string",
                        "description": "picture name"
                    },
                    "PicPreferredNameM": {
                        "type": "string",
                        "description": "picture name preferred M"
                    },
                    "PicPreferredNameF": {
                        "type": "string",
                        "description": "picture name preferred F"
                    },
                    "PicPreferredNameJ": {
                        "type": "string",
                        "description": "picture name preferred J"
                    },
                    "FamCode": {
                        "type": "integer",
                        "description": "family code"
                    },
                    "Subfamily": {
                        "type": "string",
                        "description": "subfamily name"
                    },
                    "GenCode": {
                        "type": "integer",
                        "description": "genus code"
                    },
                    "SubGenCode": {
                        "type": "string",
                        "description": "subgenus code"
                    },
                    "BodyShapeI": {
                        "type": "string",
                        "description": "body shape"
                    },
                    "Source": {
                        "type": "string",
                        "description": "source"
                    },
                    "Remark": {
                        "type": "string",
                        "description": "remark"
                    },
                    "TaxIssue": {
                        "type": "string",
                        "description": "taxonomic issue"
                    },
                    "Fresh": {
                        "type": "integer",
                        "description": "freshwater dwelling"
                    },
                    "Brack": {
                        "type": "string",
                        "description": "brackisk water"
                    },
                    "Saltwater": {
                        "type": "string",
                        "description": "saltwater dwelling"
                    },
                    "DemersPelag": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "AnaCat": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "MigratRef": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "DepthRangeShallow": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "DepthRangeDeep": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "DepthRangeRef": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "DepthRangeComShallow": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "DepthRangeComDeep": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "DepthComRef": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "LongevityWild": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "LongevityWildRef": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "LongevityCaptive": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "LongevityCapRef": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "Vulnerability": {
                        "type": "float",
                        "description": "unknown"
                    },
                    "Length": {
                        "type": "integer",
                        "description": "length"
                    },
                    "LTypeMaxM": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "LengthFemale": {
                        "type": "float",
                        "description": "female length"
                    },
                    "LTypeMaxF": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "MaxLengthRef": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "CommonLength": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "LTypeComM": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "CommonLengthF": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "LTypeComF": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "CommonLengthRef": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "Weight": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "WeightFemale": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "MaxWeightRef": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "Pic": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "PictureFemale": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "LarvaPic": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "EggPic": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "ImportanceRef": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "Importance": {
                        "type": "string",
                        "description": "importance"
                    },
                    "PriceCateg": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "PriceReliability": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "Remarks7": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "LandingStatistics": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "Landings": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "MainCatchingMethod": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "II": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "MSeines": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "MGillnets": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "MCastnets": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "MTraps": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "MSpears": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "MTrawls": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "MDredges": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "MLiftnets": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "MHooksLines": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "MOther": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "UsedforAquaculture": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "LifeCycle": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "AquacultureRef": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "UsedasBait": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "BaitRef": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "Aquarium": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "AquariumFishII": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "AquariumRef": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "GameFish": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "GameRef": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "Dangerous": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "DangerousRef": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "Electrogenic": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "ElectroRef": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "Complete": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "GoogleImage": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "Comments": {
                        "type": "string",
                        "description": "comments"
                    },
                    "Profile": {
                        "type": "string",
                        "description": "unknown"
                    },
                    "PD50": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "Entered": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "DateEntered": {
                        "type": "date",
                        "description": "date entered"
                    },
                    "Modified": {
                        "type": "integer",
                        "description": "modified"
                    },
                    "DateModified": {
                        "type": "date",
                        "description": "date modified"
                    },
                    "Expert": {
                        "type": "integer",
                        "description": "unknown"
                    },
                    "DateChecked": {
                        "type": "date",
                        "description": "date checked"
                    },
                    "TS": {
                        "type": "string",
                        "description": "unknown"
                    }
                }
            }
        }
    }
}